* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 650;
    font-style: normal;
}

header {
    background-color: #9388A2;
}

.icones {
    display: inline-block;
}

.all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .card-body {
    background-color: #412456;
    color: white;
    border-radius: 0px 0px 12px 12px;
    border: 1px solid black;
} */

.btn {
    display: flex;
    color: #0E050F;
    border: none;
    font-size: large;
    margin-left: 90%;
}

/* .card {
    border-radius: 12px;
    border: 1px solid black;
    background-color: #9388A2;
    cursor: pointer;
} */

.itemcarrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #9388A2;
    border-radius: 12px;
    background-color: #412456;
    color: white;
    
}

.itemcarrinho img {
    width: 100px;
    height: auto;
    border-radius: 12px;
}

.resumocarrinho {
    text-align: right;
    margin-top: 2rem;
    color: white;
}

.resumocarrinho a:link{
    text-decoration: none;
}

.resumocarrinho h4 {
    margin-bottom: 1rem;
}

footer {
    background-color: #9388A2;
    margin-top: 6rem;
    padding: 1rem;
}

footer img {
    display: flex;
    margin-left: 50%;
    width: 3rem;
}

/* style do formulario de pagamento */
.form-pagar {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #9388A2;
    border-radius: 12px;
    background-color: #412456;
    color: white;
}

.form-pagar h2 {
    margin-bottom: 1rem;
    text-align: center;
}


/* .form-pagar .form-label {
    font-weight: bold;
}

.form-pagar .form-control {
    background-color: #D0C0CE;
    border: none;
    border-radius: 5px;
}

.form-pagar .btn-primary {
    background-color: #0c63e4;
    border: none;
    font-size: 1.2rem;
} */

form{
    font-family: Arial, Helvetica, sans-serif;
}